row {
    /* GtkListBoxChild has a default margin that interferes */
    padding: 0px;
}

.contribution {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 6px;
}

.contribution-list {
    padding-left: 6px;
    padding-right: 6px;
}

.section-content {
    margin-bottom: 18px;
}

/* Similar as contribution */
.add-contribution-button {
    margin-left: 12px;
    margin-right: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.sort-button {
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  border-width: 0px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sort-button:not(:backdrop):hover {
    background-color: #e5e5e5;
}

button:active.flat.sort-button {
    background-color: #a5a5a5;
    box-shadow: none;
}

.section-title {
    margin-top: 18px;
    color: #D9534F;
    font-size: 1.5em;
}

.subsection-title {
    margin-top: 12px;
    color: #D9534F;
    font-size: 1.1em;
}

.link-button {
    padding: 0px;
}

.content {
    background-color: white;
    padding-left: 18px;
    padding-right: 18px;
    border-width: 0px;
}